.base {
    padding: 4rem;
}

.list {
    list-style-type: none;
}

.listHeader {
    padding-bottom: 1rem;
}

.listItem {
    padding-bottom: 0.5rem;
}

@media (min-width: 576px) {
    .base {
        margin-top: 4rem;
    }
}
